img {
    width: 90px;   
    height: 90px;
    float: left;
    }

.center{
    text-align: center;
}

#idCard {
    border: 5px solid black;
    border-radius: 25px;
    height: 14em;
    width: 25em;
    background-color:#efc3c3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

body {
    background-color:#4e98b1;
}

label {
    font-weight: bolder;
}

#bttnGet {
    border-radius: 5px;
    margin-top: 5px;
}

#postAge, #postPhoneNumber, #postAddress {
    margin: 0px;
    padding: 10px 5px;
    text-align: left;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#postFullName {
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

.space {
    margin-top: 5px;
    margin-bottom: 5px;
}